.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333; /* Dark grey for titles */
  }
  
  .p {
    font-size: 16px;
    color: #666; /* Medium grey for text */
    margin-bottom: 24px;
  }
  
  .button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }


  /* Custom styles for Swiper pagination dots */
.swiper-pagination-bullet {
  background: #ddd; /* Default background */
  width: 12px;
  height: 12px;
  opacity: 0.6;
  transition: background 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(
      90deg,
      #ff5733,
      #ffc300,
      #28b463,
      #2874a6,
      #af7ac5,
      #e74c3c,
      #f39c12,
      #1abc9c
  ); /* Gradient for active dot */
  transform: scale(1.2); /* Slightly larger for active */
  opacity: 1; /* Fully visible */
}