.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100svh; /* Full-screen height */
  color: #F6F6F6;
  box-sizing: border-box; /* Ensure padding doesn't affect height */
  gap: 15rem; /* Add spacing between elements */
}

.loginContainerCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100svh; /* Full-screen height */
  color: #F6F6F6;
  box-sizing: border-box; /* Ensure padding doesn't affect height */
  gap: 10rem; /* Add spacing between elements */
}


/* Title styling for the top */
.title {
  width: 100%;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 0.8;
  align-self: flex-start; /* Position the title at the top-left */
  text-align: left;
}

/* Bottom content container */
/* Bottom content container */
.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Add spacing between elements */
  width: 100%;
}

/* Form container for login inputs */
.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

/* Input fields */
.inputField {
  background: #F6F6F6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #646464;
}

.inputField::placeholder {
  color: #646464;
}

/* Button styling */
.loginButton {
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: medium;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FF5733;
  color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Separator styling */
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #F6F6F6;
}

.separator .orText {
  margin: 0 10px;
  font-size: 0.9rem;
  color: #F6F6F6;
}

/* Forgot password text */
.forgotPasswordText {
  font-size: 0.9rem;
  color: #F6F6F6;
  text-align: center;
}

/* Existing account text */
.existingAccount {
  font-size: 0.9rem;
  color: #F6F6F6;
  text-align: center;
}

.existingAccount .toggleLink {
  background: none;
  border: none;
  color: #F6F6F6;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* Toastify notification styling */
.Toastify__toast {
  font-size: 1rem;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 1rem; /* Default for larger screens */
  left: 50%;
  transform: translateX(-50%);
}

.Toastify__toast--error {
  background-color: #ff4d4f;
  color: #fff;
}

.Toastify__toast--success {
  background-color: #28a745;
  color: #fff;
}

/* Adjust top position for mobile screens */
@media (max-width: 768px) {
  .Toastify__toast {
      top: 4rem; /* Push down on smaller screens */
  }
}